.App {
  width: 800px;
  height: 800px;
  margin: auto;
}

.options {
  text-align: center;
  margin: 20px;
}

.tomato {
  height: 20px;
  width: 83%;
  background: linear-gradient(#ea2d59, #ea3919);
  border-radius: 20px;
  margin: 1px auto;
  color: transparent;
  user-select: none;
}

.cheese {
  height: 15px;
  width: 85%;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 15px;
  margin: 1px auto;
  color: transparent;
  user-select: none;
}

.bun {
  height: 50px;
  width: 85%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 25px;
  margin: 1px auto;
  color: transparent;
  user-select: none;
}

.beef {
  height: 40px;
  width: 80%;
  background: linear-gradient(#7f3608,#702e05);
  border-radius: 10px;
  margin: 1px auto;
  color: transparent;
  user-select: none;
}

.lettuce {
  height: 20px;
  width: 90%;
  background: linear-gradient(#228c1d, #91ce50);
  margin: 1px auto;
  border-radius: 15px;
  color: transparent;
  user-select: none;
}